<ion-view view-title="Dealer">
  <ion-content>

    <div class="centerDiv">
      <div class="row" ng-repeat="players in playersChunk">
        <div class="col" ng-repeat="player in players" ng-if="player">
          <player ng-player="player" ng-game-type = "gameType"></player>
        </div>
      </div>


      <div class="row" ng-if="hasTurn ">
        
        
        <div class="col text-center">
          <button class="button button-dark button-block button-outline fnt-3em" ng-click="showConfirmationModal('sideShow');" ng-disabled="showWinner">Side Show</button>
        </div>
        <div class="col text-center" ng-click="move();" >
          <button class="button button-dark button-block button-outline fnt-3em">Chaal</button>
        </div>
        <div class="col text-center" ng-click="showConfirmationModal('fold');">
          <button class="button button-dark button-block button-outline fnt-3em">Fold</button>
        </div>
      </div>
      
      <div class="row" >
        <div class="col col-100 text-center">
          <button class="button button-royal button-block fnt4-5em btn-pad" ng-show="!hasTurn && !showWinner" ng-click="randomCard();">Serve Card</button>
          <button class="button button-royal button-block button-outline fnt4-5em btn-pad" ng-disabled="!cardServed" ng-click="showConfirmationModal('showWinner');">Show Winner</button>
        </div>
      </div>
      <div class="padding-vertical">
        <div class="row">
          <div class="col col-25">
            
           <joker  ng-game-type = "gameType"></joker>
            
          </div>
          <div class="col col-25 text-center">
          </div>
          <!--<div class="col col-25 text-center">
            <button class="button button-dark button-block button-outline fnt-3em">Undo</button>
          </div>-->
          <div class="col col-25 text-center" ng-click="showConfirmationModal('newGame');">
            <button class="button button-dark button-block button-outline fnt-3em">New</button>
          </div>
           <div class="col col-25 text-center" ng-click="showConfirmationModal('undo');">
            <button class="button button-assertive button-block  button-outline fnt-3em">Undo</button>
          </div> 
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>