 @media (min-width: $screen-lg-min) {
     // Wide Desktop
     .container-big {
         width: 1650px;
         .community-cards {
             width: 60%;
         }
     }
     .mt100 {
         margin-top: -100px;
     }
     .bg-all {
         .dealer-name {
             top: 92px;
             left: 50%;
             padding: 6px 30px 4px;
             font-size: 30px;
         }
         .player-number {
             &.dealer {
                 top: -48px;
                 .number {
                     top: 45%;
                 }
             }
             .main-dealer {
                 width: 38px;
                 height: 38px;
                 font-size: 28px;
                 line-height: 1.6;
                 top: 0;
             }
             .number {
                 top: 35%;
             }
             .img-circle-player {
                 width: 120px;
                 height: 130px;
             }
             //  &.player-8,
             //  &.player-1 {
             //      top: 5%;
             //  }
         }
         .pack-cards {
             top: 150px;
         }
     }
 }